:root {
  --color-red: #921414;
  --color-blue: rgb(36, 26, 173);
  --color-black: rgb(0, 0, 0);
  --color-blanco: #fff;
  --color-container: #0e0e0e;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
}

header,
article {
  width: 90%;
  margin: auto;
}
/*----------------HEADER----------------*/

.header-image {
  width: 170px;
  height: 115px;
  margin-right: 10px;
}

.header-aqui {
  background-color: rgb(118, 24, 206);
  border-radius: 8px;
  padding: 4px;
  width: 40%;
}
.header-aqui a {
  margin: auto;
}

.header-link-a a {
  margin-right: 25px;
  color: var(--color-blanco);
  transition: 0.5s;
}

.li-a-nav {
  font-size: 18px;
  color: var(--color-blanco);
  font-weight: 450;
}
