@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

:root{
    --color-primario:rgb(245, 31, 2);
    --color-secundario:rgb(36, 26, 173);
    --coolor-title: rgb(0, 0, 0);
    --color-subtitle: rgb(255, 255, 255);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}


/*HEADER*/
.header{
    margin-left: 50px;
}

/*NAV*/
#hola{
    color: var(--coolor-title);
    
    font-weight: 700;
}

.logo{
    width: 220px;
    height: 150px;
}